@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

nav {
    height: 7rem;
    background-color: #000000;
}

.container-fluid {
    padding: 1rem 4.75rem;
    background-color: #000000;
}

.navbar-brand {
    font-family: 'Lemon', cursive;
    font-size: 1.5rem;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.nav-link {
    font-size: 0.875rem;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav li {
    margin-right: 2rem;
}

.nav-item .btn {
    padding: 0;
    width: 3.75rem;
    height: 1.74125rem;
}

.profile-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.dropdown-menu li {
    margin-right: 0;
}

.history {
    width: 19.875rem;
    height: 5.4375rem;
}

.history-img {
    width: 5.3125rem;
    height: 4.0625rem;
}

.kontak {
    text-decoration: underline;
    font-size: 0.625rem;
}

.kontak-container {
    width: 7.5625rem;
    height: 3.15625rem;
}

.kontak-icon {
    width: 1.625rem;
    height: 1.625rem;
}

footer {
    margin-top: 4.4375rem;
    height: 4.4375rem;
    border-top: solid rgb(0, 0, 0, 0.4) 2px;
    padding: 0.625rem 3.125rem;
}

footer p {
    margin: 0;
}
