/* Header */

section {
    padding-top: 7rem;
}

input, button {
    min-height: 2.875rem;
}

.vector {
    position: absolute;
    z-index: -1;
}

.form-container {
    border-radius: 12px;
    max-width: 35.625rem;
    height: 35.4375rem;
    background-color: #3A18C2;
    padding: 3.8125rem 2.75rem;
}

.forgot {
    text-decoration: none;
}

.login {
    width: 35.76%;
}

.text-12 {
    font-size: 12px;
}